extends ../adminBase

block content 
    include ../sidebar/_userSidebar.pug

    section.delete--user_container 
        .delete--user_header
            .back--btn 
                a(href="/admin/users") 
                    svg 
                        use(xlink:href='/img/icons.svg#icon-skip-back')
                    span Back 
            
            .header 
                h1 Delete User 


        form.form.delete--user__form
            .form-delete.user__name
                label(for="delete--user_name") Name 
                input.delete--user_name(type="text",value=`${userData.name}`,placeholder="User Name",onfocus="this.placeholder= ''",onblur="this.placeholder= 'User Name'",required)
            .form-delete.user__email
                label Email 
                input.delete--user_email(type="text",value=`${userData.email}`,placeholder="User email",onfocus="this.placeholder= ''",onblur="this.placeholder= ''",required)
            .form-delete.user__password
                label Password 
                input.delete--user_password(type="password",value='********',placeholder="********",onfocus="this.placeholder= ''",onblur="this.placeholder= '********'", minlength='8',required)

            .delete--user
                button.btn.btn--delete(data-user-id=`${userData.id}`) Delete