footer.footer 
    .footer__logo 
        svg 
            use(xlink:href="/img/icons.svg#icon-shopping-cart")

    .footer__copyright 
        p.footer__copyright--header &copy; by Israel Evwerhamre 
        p This is a fictional shopping website 