extends base

block content
    main.main.main--product
        .error 
            .error__title 
                h2.heading-secondary.heading-secondary--error Umm! Something went wrong! 
                h2.error__emoji 🤢🤢
            .error__msg= msg