.card
    .card__header
        .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img-1(src='img/converse.png', alt='Tour 1')
        h3.heading-tertirary
            span Chuck Taylor
    
    .card__footer 
        p
            span.card__footer-value $297
        a.btn.btn--green.btn--small(href='#') Details
